# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# compiled source #
*.opensdf,*.sdf,*.suo,*.exe,*.ilk,*.pdb,*.obj,*.pch,*.idb,*.filters
*.user
*.ilk
*.exe
*.pdb
*.tlog
*.obj
*.tlog
*.manifest
*.res
*.lastbuildstate
*.log
*.pch
*.cache
*.rc
*.idb
*.ipch
*.db
*.db-wal
*.db-shm
*.opendb
*.suo
*.log

